<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulunan Tarifler</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.0.0/dist/full.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            background-color: #1a202c; /* Koyu arka plan rengi */
        }
    </style>
</head>
<body class="bg-base-100 dark:bg-gray-900 dark:text-white">
    <div class="w-full max-w-md p-6 bg-white dark:bg-gray-800 shadow-lg rounded-lg text-center">
        <h1 class="text-3xl font-bold mb-4">Bulunan Tarifler</h1>
        <ul class="list-disc list-inside text-left mx-auto w-full">
            {% for recipe in recipes %}
                <li class="mb-2">
                    <a href="/recipe_details/{{ recipe['id'] }}" class="text-blue-500">{{ recipe['title'] }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="flex justify-center mt-4">
            <a href="/" class="btn btn-secondary">Geri Dön</a>
        </div>
    </div>
</body>
</html>